<header>
  <div class="Name">
    <div class="header-name">Akash Nemade</div>
    <div class="img-icons">
      <div class="icons-spacing">
        <div class="icons">
          <a style="color: white" href="/"
            ><fa-icon [icon]="faLinkedin"></fa-icon
          ></a>
          <a style="color: white" href="/"
            ><fa-icon [icon]="faGithub"></fa-icon
          ></a>
          <a style="color: white" href="/"
            ><fa-icon [icon]="faTwitter"></fa-icon
          ></a>
        </div>
      </div>
      <div class="img-about">
        <img class="img" src="../assets/result.png" />
      </div>
    </div>
  </div>
</header>
