.Name
    display: flex
    flex-direction: row
    justify-content: space-between
    color: white

.icons
    display: flex
    justify-content: space-around
    flex-direction: row
    width: 193px

.img-icons
    width: 445px
    height: 720px
    display: flex
    flex-direction: column
.img
   width: 444.88px
   height: 618px

.icons-spacing
    display: flex
    justify-content: flex-end

.header-name
    display: flex
    width: 172px
    height: 32px



 



