.Name
    display: flex
    flex-direction: row
    justify-content: space-between
    color: white
    border-bottom: 1px solid white

.icons
    display: flex
    justify-content: space-around
    flex-direction: row
    width: 193px

.img-icons
    height: 720px
    display: flex
    flex-direction: column
.img
   width: 444.88px
   height: 618px

.icons-spacing
    display: flex
    justify-content: flex-end

.header-name
    display: flex
    width: 172px
    height: 32px

.img-about
    display: flex
    flex-direction: column
    justify-content: space-between
   

.about
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-bottom: 4rem
    width: 706px
    height: 303px

.details
   width: 445px 

button
    all: unset
    width: 120px
    height: 38px
    color: white
    outline: none
    border-bottom: 2px solid #4EE1A0
    &:hover
        cursor: pointer


 



