.Name
    display: flex
    flex-direction: row
    justify-content: space-between
    color: white

.icons
    display: flex
    justify-content: space-around

.img-icons
    height: 720px
    display: flex
    flex-direction: column
.img
   width: 444.88px
   height: 618px

.header-name
    display: flex
    height: 32px

.img-about
    display: flex
    flex-direction: column
    justify-content: space-between
   

.about
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-bottom: 4rem
    height: 303px

.details


button
    all: unset
    width: 120px
    height: 38px
    color: white
    outline: none
    border-bottom: 2px solid #4EE1A0
    &:hover
        cursor: pointer


 



