<header>
  <div class="Name">
    <div class="img-about">
      <div>
        <div class="header-name">Akash Nemade</div>
         <div >
  
      </div>
      </div>
        <div class="about">
            
            <div class="details">
                <h1>Nice to meet you! <br>I'm <u style="text-decoration-color:#4EE1A0">Akash Nemade.</u></h1>
                <p>
                    Based in the UK, I’m a front-end developer <br>passionate about building accessible web apps <br>that users love.
                </p>
        
            </div>

                <button>CONTACT ME</button>

        </div>
     
      </div>
    <div >
      <div >
        <div class="icons">
          <a href="/"
            ><fa-icon [icon]="faLinkedin"></fa-icon
          ></a>
          <a href="/"
            ><fa-icon [icon]="faGithub"></fa-icon
          ></a>
          <a href="/"
            ><fa-icon [icon]="faTwitter"></fa-icon
          ></a>
        </div>
      </div>
     
      <img class="img" src="../assets/result.png" />
    </div>
  </div>
</header>
