.contact-form
    display: flex
    justify-content: center
    align-items: center
    background: #242424

.contactBox
    display: flex
    flex-direction: column
    width: 445px
    height: 208px
    margin: 1rem

.contact-inputform
    display: flex
    flex-direction: row
    justify-content: space-evenly
    width: 100%
    margin: 1rem
.info
    width: 445px
    height: 84px
    font-weight: 500
    font-size: 18px
    line-height: 28px
    color: #D9D9D9

.contact
    font-weight: 700
    font-size: 30px
    line-height: 88px
    height: 88px
 
.input-form
    width: 445px
    height: 327px 

#message
    height: 100px
    