<div class="contact-form">
    <div class="contact-inputform">
        <div class="contactBox">
            <div class="contact">
                <h1>CONTACT</h1>
            </div>
            <div class="info">
                I would love to hear about your project and how I could help. Please fill in the form, and I’ll get back to you as soon as possible.
            </div>
        </div>
        <div class="input-form">
            <input 
                placeholder="NAME"
                />
            <input placeholder="EMAIL"/>
            <input id="message" placeholder="MESSAGE"/>
            <div class="button">
                <button>SEND MESSAGE</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <h2>Akash Nemade</h2>
            <div class="icons-container" >
                <div class="icons">
                  <a href="/"
                    ><fa-icon [icon]="faLinkedin"></fa-icon
                  ></a>
                  <a href="/"
                    ><fa-icon [icon]="faGithub"></fa-icon
                  ></a>
                  <a href="/"
                    ><fa-icon [icon]="faTwitter"></fa-icon
                  ></a>
                </div>
        </div>
        </div>
    </footer>
</div>
