<div class="contact-form">
    <div class="contact-inputform">
        <div class="contactBox">
            <div class="contact">
                <h1>CONTACT</h1>
            </div>
            <div class="info">
                I would love to hear about your project and how I could help. Please fill in the form, and I’ll get back to you as soon as possible.
            </div>
        </div>
        <div class="input-form">
            <div>name</div>
            <div>Email</div>
            <div>Message</div>
            <div><button >SEND MESSAGE</button></div>
        </div>
    </div>
</div>
