<div class="project-container">
    <div class="project-cta">
        <div class="header-project">
            <h1>Projects</h1>
        <button>CONTACT ME</button>
        </div>
        <div class="projects">
            <div class="name-projects" *ngFor="let item of ProjectList">
              
                <img class="image" src={{item.img}}>
                <div class="overlay"></div>
                <div class="buttons-hide">
                    <button>VIEW PROJECT</button>
                    <button>VIEW CODE</button>
                </div>
                <div class="project-info-container">
                    <div class="pro-title">{{item.name}}</div>
                    <div class="pro-skills-used">{{item.skillsUsed}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
