.project-container
    display: flex

.project-cta
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column

.header-project
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.image
    width: 540px
    height: 400px

.name-projects
    display: flex
    flex-direction: column
    width: auto

.projects
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 1rem
