.project-container
    display: flex

.project-cta
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column

.header-project
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 100%

.image
    width: 540px
    height: 400px

.name-projects
    display: flex
    flex-direction: column
    &:hover
        .buttons-hide
             position: absolute
             width: 138px
             height: 124px
             display: flex
             flex-direction: column
             margin: 10rem 10rem 10rem 12rem
        .image
            filter: blur(4px)
        
.projects
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 1rem

.buttons-hide
    display: none

a
    text-decoration: none

.pro-title
    font-weight: 700
    font-size: 24px
    line-height: 32px

.pro-skills-used
    font-weight: 500
    font-size: 18px
    line-height: 28px

.project-info-container
    padding: 1rem 0rem 1rem 0rem
    display: flex
    flex-direction: column

