.skills
    display: flex

   
.skills-div
    display: flex
    flex-wrap: wrap
    margin-top: 2rem

.skill-with-skills
    display: flex
    flex-direction: column
    width: 345px
    height: 98px
    color: white
